<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的小家 - 我的文章</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/list_article.css">
</head>
<body>

    {% include 'header.html' %}

    <div id="content">
        <h3>文章分类:</h3>
        <ul id="type-list">
            {% for type in types %}
            <li><a href="#">{{ type.type_name }}</a></li>
            {% endfor %}
        </ul>
        <div id="article-list">
            {% for article in articles %}
            <div class="article">
                <h3 class="title">{{ article.title }}</h3>
                <span class="post-time">{{ article.post_time }}</span>
                <span class="type">{{ article.type_name }}</span>
                <p class="desc">{{ article.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>